@font-face {
  font-family: 'Pokemon Font';
  src: local('Pokemon Font'), url(assets/font/PokemonHollowNormal-pyPZ.ttf) format('truetype');
};

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3 {
  font-family: 'Pokemon Font';
}

input, select {
  padding: 4px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #9E9E9E;
}